@model IEnumerable<VendaModel>
@{
    ViewBag.Subtitulo = "Página Principal";
}

<h1 class="text-primary">Bem-vindo ao <b>Sistema de Gerenciamento de Vendas <span
            class="text-danger">AmbevWeb</span></b></h1>
<hr>
<p>Gerencie seu estoque de cervejas e suas vendas. Use o menu superior para acessar os recursos da aplicação.</p>
<hr>

<partial name="_Mensagem"></partial>

<div class="container">
  <div class="row">
    <div class="col">
      <h4>Projeto sem fins lucrativos desenvolvido por <b>Bruno Belchior</b> candidato a vaga de Desenvolvedor
                Senior
                disponibilizada pela <b>Talto Sistemas</b>.</h4>
    </div>
  </div>
</div>