@model MovementViewModel
@{
    ViewBag.Subtitulo = "Delete finantial movement?";
}

<h1 class="text-primary">@ViewBag.Subtitulo</h1>
<hr>
<h4>Do you really want to delete the movimentation <span class="text-danger">@Model.Description?</span></h4>

<form asp-action="Delete" class="w-25">
    <input type="hidden" asp-for="@Model.Id">
    <div class="mt-3">
        <a asp-action="Index" class="btn btn-success">No</a>
        <button class="btn btn-danger" type="submit">Yes</button>
    </div>
</form>