@{
    ViewData["title"] = "Page does not exists";
}

<div class="text-center error-box">
    <h1 class="fs-1">
        <strong><i class="bi bi-emoji-frown-fill"></i><p class="font-weight-bold"> Page <u>not</u> Found</p></strong>
    </h1>
    <div class="fs-2">
        <p>The page you are looking for doesn't exists or another issue occurred.</p>
        <p>Please navigate back to <a asp-controller="Home" asp-action="Index">Home</a>.</p>
    </div>
</div>