@{
    ViewBag.Subtitulo = "Página Principal";
}

<h1 class="text-primary">
    Welcome to <b>
        Cash Flow Control System <span class="text-danger">Mttechne</span>
    </b>
</h1>
<hr>
<p>Manage your cash flow control. Use the top menu to access the application's features.</p>
<hr>

<partial name="_Message"></partial>

<div class="container">
    <div class="row">
        <div class="col">
            <h4>
                Non-profit project developed by <b>Bruno Belchior</b>, candidate for the position of
                Software Architect provided by <b>Mttechne</b>.
            </h4>
        </div>
    </div>
</div>